extends layout	
block content
	.container-fluid
		.row
			.col-md-12.aboutheader(style='margin-top: 15px;')
				h2 About the Club
	.row-md-6(style='margin-left: 50px;')
		h3.mb-0(style='text-align: left; color: #0071BC;')
			blockquote.blockquote
				b What is the Philanthropy Club all about?
	.row-md-6(style='margin-left: 70px;')
		h4
			| Our goal is to make being part of the club available to everyone. We aim to make our club a place where students can find service opportunities to reach a personal goal, graduation requirments, or to help better the commuinity! In order to achieve these goals, our club members meet every other month and discuss the progress and implementation future activities and programs.
	.row-md-6(style='margin-left: 50px;')
		h3.mb-0(style='text-align: left; color: #0071BC;')
			blockquote.blockquote
				b  What are the member requirments?
	.row-md-6(style='margin-left: 70px;')
		h4
			| All students can participate in the activities organized by the Philanthropy Club, but not all students can qulify as members of the club.
			| In order to be a member, the student should fulfill certain requirments each year.
	br
	.container
		.panel-group
			.panel.panel-default
				.panel-heading
					h4.panel-title
						a(data-toggle='collapse', href='#collapse1') Club Members Requirments
				#collapse1.panel-collapse.collapse
					.panel-body
						.container
							ul.list-group
								li.list-group-item  Have a GPA of at least 2.5 
								li.list-group-item  Complete at least 25 community service hours per year
								li.list-group-item  Attend at least one meeting per semester
								li.list-group-item  Keep in the know of upcoming opportunities 
								li.list-group-item  Complete and turn in all comunity service forms by semester deadlines 
								li.list-group-item  Cording - exceed the hour requirment 1 year by 5 or more hours 
								li.list-group-item  Pay annual $10 fee 
					.panel-footer
						| If any one of these requiements is violated, a student will recieve suitable consequences.
	.row-md-6(style='margin-left: 50px;')
		h3.mb-0(style='text-align: left; color: #0071BC;')
			blockquote.blockquote
				b  Feel free to contact us for further information!
	.row-md-6(style='margin-left: 70px;')
		h4
			ul
				li
					i.fa(style='font-size:24px') 
					|  Twitter
				br
				li
					i.fa(style='font-size:24px') 
					|  Instagram
				br
				li
					i.fa(style='font-size:22px') 
					|  Email
				br
