extends layout

block content
	.container(style='margin-top: 10px')
		.row
			.col-md-4
				img.logowrap2(src='/Images/tshirt.jpg')
			.col-md-8(style='margin-top: 90px;')
				blockquote.blockquote
					p.mb-0(style='text-align: center')
						b
							| Welcome to Philanthropy Club! Please help our club out by purchasing a t-shirt! All procceeds will be put towards a variety of club activities and improvements.
					.merchbutton(style='margin-top: 20px')
						button.btn.btn-primary(type='button') Purchase Now
		.row
			.col-md-8(style='margin-top: 90px;')
				blockquote.blockquote
					p.mb-0(style='text-align: center')
						b
							| Welcome to Philanthropy Club! Please help our club out by purchasing a hoodie! All procceeds will be put towards a variety of club activities and improvements.
					.merchbutton(style='margin-top: 20px')
						button.btn.btn-primary(type='button') Purchase Now
			.col-md-4
				img.logowrap2(src='../Images/hoodie.jpg')
		.row
			.col-md-4
				img.logowrap2(src='../Images/hat.jpg')
			.col-md-8(style='margin-top: 90px;')
				blockquote.blockquote
					p.mb-0(style='text-align: center')
						b
							| Welcome to Philanthropy Club! Please help our club out by purchasing a hat! All procceeds will be put towards a variety of club activities and improvements.
					.merchbutton(style='margin-top: 20px')
						button.btn.btn-primary(type='button') Purchase Now
		.row
			.col-md-8(style='margin-top: 90px;')
				blockquote.blockquote
					p.mb-0(style='text-align: center')
						b
							| Welcome to Philanthropy Club! Please help our club out by purchasing a water bottle! All procceeds will be put towards a variety of club activities and improvements.
					.merchbutton(style='margin-top: 20px')
						button.btn.btn-primary(type='button') Purchase Now
			.col-md-4
				img.logowrap2(src='../Images/bottle.jpg')
	br
	.container
		hr(style='color: grey; background-color: grey; height: 2px;')
